p{ /* to center all the texts (quote, description (restaurant and owver), the word owner  */ 
    text-align: center;
    
}

.desc{ /*description */
    font-size: 24px;
    width: 1200px;
    border: 15px solid rgb(0, 0, 0,0.25);
    padding: 50px;
    margin: 20px;
}

.container{ /*to center the whole description box*/
    align-items: center;
}

.sara{ /*the photo*/
    float: left;
   width: 40%;
   padding: 10px;
}

.info{ /*details about Sara/the owner */
    text-align: left;
    float:right;

    font-size: 18px;
    width: 800px;
    border: 15px solid rgb(0, 0, 0,0.25);
    padding: 30px;
    margin: 10px;
}

h4{ /*the word Sara*/
    text-align: center;
    font-size: 40px;
}