ul { /*to remove the bullet points in the list*/
    list-style-type: none;
   }

h1{ /*contact us*/
    text-align: center;
}

p{
    text-align: center; /*address and number*/
}

.socialmedia{ /*for all the links*/
    text-align: center;
}

img{ /*lighten the photo for aesthetic*/
    opacity: 0.90;
}