.desc {
  margin: auto; 
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
  font-size: large;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.heading {
  text-align: center;
}
.list {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

.bestseller {
font-family: copperplate, fantasy;
}