/*LOGO, BG PIC, AND TEXT*/
.logo img{ /*logo image*/
  width: 300px; /*size*/
  display: block;
  /*for position*/
  margin-left: auto;
  margin-right: auto;
}

.bgtitle{
  height: 100vh; /*vh means viewport height, para buong pic makikita*/
  background-image: url("/static/img/storenight.png"); 
  background-repeat: no-repeat; /*so that it is only one pic*/
  background-position: center center;
  background-size: contain; /*so that the whole pic will be included*/
  opacity: 0.75;
  
}

/* made h1 nakahiwalay para di siya madamay sa opacity*/
h1{
  text-align: center;
  color: black;
  /*for the position of the text to be on top of the background pic */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); /* helps in positioning, length percentage yung nasa loob para magcenter yung h1*/

  font-size: 70px  
}

/*CARDS*/
.cards{ /* for the position of the cards to be side by side */
  position: relative;
  flex-grow: 1;
  margin: auto;

  
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*sets number of columns in grid*/
  grid-gap: 30vmin; /* how close together yung pics to each other*/

  width: 800px; /* para di sagad yung 'gallery' sa page pero ok ang rin naman isagad*/
}

h5{ /* the words About and Menu */
  text-align: center;

}

p{ /*for the card descriptions*/
  text-align: center;
}
.gallery img {
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  width: 100%; /*size*/

  
}

/*GALLERY OF PHOTOS*/
.gallery{ /*for the grid of pics*/
  position: relative; 
  flex-grow: 1;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*sets number of columns in grid/galler*/
  grid-gap: 2vmin; /* how close together yung pics to each other*/

  width: 1250px; /* para di sagad yung 'gallery' sa page*/

}

input[type=checkbox] { /*so that it becomes clickable (to allow zoom in and zoom out)*/
  display: none; /*para walang checkbox*/
}

.gallery input:checked+img{ /*what happens when photo is clicked*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: white;
  object-fit: contain;
}

/*CONTACT US*/
.contact{
  background: rgba(35, 35, 35, 0.15) ; /*background color + last value is opacity*/
}

.social{ /*number of columns*/
  column-count: 3
}