{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/foodstyle.css') }}">


<div class="heading">
<h1> {{ food_profile.name}} </h1>
</div>


<div class="img">
<img src="{{ food_profile.url}} " alt="">
</div>

<div class="desc">
    <p1> {{ food_profile.description}} </p1>
</div>


<ul>
    <div class="list">
    {% if food_profile.price == "" %}
    <li>Price: No data available</li>
    {% else %}
    <li>Price: {{ food_profile.price }} </li>
    {% endif %}
    {% if food_profile.recipe == "" %}
    <li>Ingredients: No data available</li>
    {% else %}
    <li>
        Ingredients - Quantity (Genshin)
        <br>
        {% for item in food_profile.recipe %}
        {{ item }} - {{food_profile.recipe[item]}} 
        <br>
        {% endfor %} </li>
    {% endif %}
    {% if food_profile.bestseller == True %}
    <div class="bestseller">
    <li> EVERYONE'S CHOICE</li>
    </div>
    {% endif %}

    <li> 
        Get to know the food in real life! <br>
        <iframe width="560" height="315" src="{{ food_profile.vid }}" frameborder="0" allowfullscreen></iframe></li>
    </div>

</ul>
{% endblock %}