{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<div class = "pics">
  <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt="Good Hunter logo"></div>
  <div class="bgtitle"> </div>
</div>
<div class="title">
  <h1> Welcome to Good Hunter! </h1>
</div>
<br>

<!--Bootstrap Code-->
<div class="cards">
  <div class="card border-dark mb-3" style="width: 18rem;">
    <img src="{{ url_for('static', filename='img/sara.png') }}" class="card-img-top" alt="Menu at Good Hunter">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p class="card-text">Get to know Good Hunter and it's owner/waitress Sara</p>
      <a href="/about" class="btn btn-secondary">Click Here</a>
    </div>
  </div>
<div class="card border-dark mb-3" style="width: 18rem;">
  <img src="{{ url_for('static', filename='img/g6.png') }}" class="card-img-top" alt="Menu at Good Hunter">
  <div class="card-body">
    <h5 class="card-title">Menu</h5>
    <p class="card-text">Get a taste of the different flavors of Mondstadt, Liyue, and Inazuma!</p>
    <a href="/menu" class="btn btn-secondary">Click Here</a>
  </div>
 
  <br> 
</div>


</div>
<br>
<div class="gallery"> 
  <label>
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g1.png') }}" class="img-fluid" alt="">
  </label>
  <label>
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g8.png') }}" class="img-fluid alt="> 
  </label>     
  <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g3.png') }}" class="img-fluid alt="> 
  </label>      
  <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g4.png') }}" class="img-fluid alt="> 
  </label>
   <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
     <img src="{{ url_for('static', filename='img/g10.png') }}" class="img-fluid alt="> 
  </label>
   <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
     <img src="{{ url_for('static', filename='img/g5.png') }}" class="img-fluid alt="> 
  </label>
  <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g7.png') }}" class="img-fluid alt=">
  </label>
  <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g2.png') }}" class="img-fluid alt="> 
  </label>
  <label> 
    <input type="checkbox" name="galery" onclick="event.stopPropagation();"/>
    <img src="{{ url_for('static', filename='img/g9.png') }}" class="img-fluid alt="> 
  </label>
  </div>
<br>

<div class = "contact">
  
  <h3><a href="/contact">Contact Us!</a></h3>
  <div class="social"> 
  <ul>
    <li>Address: Town Square,Mondstadt, Teyvat</li>
    <li> Number: 123-4567 </li>
    <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
    <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
    <li><a href="https://mail.google.com" target="_blank">E-mail</a></li> <!--target blank para new tab hahah-->
    
  </ul>
  </div> 
</div>
  
{% endblock %}

