{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/menu.css') }}">
<h1> Welcome to Good Hunter! </h1>
<p> All of our menu items are inspired by Mondstadt, Liyue and Inazuma cuisine and have been created by our head chef, Sara, after studying authentic the respective cuisines in their homeland. All ingredients and local specialties are brought in fresh.</p>
<p> Choose from our menu of delicious foods! </p>
<ul>
    <div class="menucards">
        <div class="appetizer">
            <li><a href='/menu/Appetizer'> Appetizer</a> </li>
        </div>
        <div class="main">
            <li><a href='/menu/Main Course'> Main Course</a> </li>
        </div>
        <div class="dessert">
            <li><a href='/menu/Dessert'> Dessert</a> </li>
        </div>
        <div class="drinks">
            <li><a href='/menu/Drinks'> Drinks</a> </li>
        </div>
    </div>
</ul>
{% endblock %}
